<div class="section gf-form-group">
  <h5 class="section-heading">
    事件/动画映射
    <info-popover mode="right-normal">
      <span ng-bind-html="$GF.popover('选择要事件的对象', 'EVENTS', 'all_events_ani')">
      </span>
    </info-popover>
  </h5>
  <div class="gf-form">
    <span class="gf-form-label width-11">根据
      <info-popover mode="right-normal">
        <span ng-bind-html="$GF.popover('在字段“谁\'ID（uniq）或LABEL中选择数据类型', 'EVENTS')">
        </span>
      </info-popover>
    </span>
    <!-- ID INPUT -->
    <div class="gf-form-select-wrapper">
      <select class="gf-form-input width-10" ng-model="rule.data.eventProp"
        ng-options="c.value as c.text for c in editor.propTypes" ng-change="editor.onRulesChange()"></select>
    </div>
  </div>
  <div class="gf-form">
    <!-- ID Regular expression -->
    <gf-form-switch class="gf-form" label="正则表达式" label-class="width-11" checked="rule.data.eventRegEx"
      on-change="editor.onRulesChange()"
      tooltip="如果你在下面的“谁”字段中不使用正则表达式，请禁用此选项以提高性能">
    </gf-form-switch>
  </div>
  <!-- Table -->
  <table>
    <!-- Header -->
    <thead>
      <tr>
        <th>
          <label class="gf-form-label width-7" style="margin-right: 2px;">按钮</label>
        </th>
        <th>
          <label class="gf-form-label width-8" style="margin-right: 2px;">谁
            <info-popover mode="right-normal">
              <span ng-bind-html="$GF.popover('输入形状Id或单击链接按钮', 'EVENTS')">
              </span>
            </info-popover>
          </label>
        </th>
        <th>
          <label class="gf-form-label width-6" style="margin-right: 2px;">何时
            <info-popover mode="right-normal">
              <span ng-bind-html="$GF.popover('Select level state to apply event on shape.', 'EVENTS')">
              </span>
            </info-popover>
        </th>
        <th>
          <label class="gf-form-label width-10" style="margin-right: 2px;">操作
            <info-popover mode="right-normal">
              <span ng-bind-html="$GF.popover('选择操作类型', 'EVENTS')">
              </span>
            </info-popover>
          </label>
        </th>
        <th>
          <label class="gf-form-label width-8" style="margin-right: 2px;">值
            <info-popover mode="right-normal">
              <span ng-bind-html="$GF.popover('为该操作选择值', 'EVENTS')">
              </span>
            </info-popover>
          </label>
        </th>
      </tr>
    </thead>
    <tbody ng-mouseleave="editor.unhighlightAllCells()">
      <tr ng-repeat="event in rule.getEventMaps()" ng-class="{'gf-form-disabled': event.data.hidden}"
        ng-mouseleave="editor.unselectCell(rule.data.eventProp,event.data.pattern)"
        ng-mouseover="editor.selectCell(rule.data.eventProp,event.data.pattern)">
        <td>
          <div class="gf-form">
            <label class="gf-form-label" style="margin-right: 4px;">
              <i class="fa fa-w fa-remove pointer" bs-tooltip="'删除这个映射对象'"
                ng-click="editor.removeEventMap(rule,$index);editor.onRulesChange()"></i>
            </label>
            <label class="gf-form-label" ng-if="!event.isHidden()" style="margin-right: 4px;">
              <i class="fa fa-w fa-eye pointer" bs-tooltip="'在规则中隐藏选定对象图'"
                ng-click="event.hide();editor.onRulesChange()"></i>
            </label>
            <label class="gf-form-label" ng-if="event.isHidden()" style="margin-right: 4px;">
              <i class="fa fa-w fa-eye-slash pointer" bs-tooltip="'在规则中显示选定对象图'"
                ng-click="event.show();editor.onRulesChange()"></i>
            </label>
            <label class="gf-form-label" style="margin-right: 4px;" ng-hide="editor.flowchartHandler.isMapping(event)">
              <i class="fa fa-link pointer" ng-click="editor.flowchartHandler.setMap(event, rule.data.eventProp)"
                bs-tooltip="'把它链接到对象图上'"></i>
            </label>
            <label class="gf-form-label" style="margin-right: 4px;color:orange"
              ng-show="editor.flowchartHandler.isMapping(event)">
              <i class="fa fa-unlink pointer" bs-tooltip="'取消链接对象图选择'"
                ng-click="editor.flowchartHandler.unsetMap()"></i>
            </label>
          </div>
        </td>
        <td>
          <div class="gf-form">
            <input type="text" style="margin-right: 2px;" id="{{ event.getId() }}" placeholder="形状的id或正则表达式"
              class="gf-form-input width-8" ng-model="event.data.pattern" ng-if="rule.data.eventProp === 'id'"
              bs-tooltip="'使用/my.*regex/语法或形状的完整id指定regex（请参见“检查”选项卡）'"
              bs-typeahead="editor.getCellNamesById" ng-blur="editor.onRulesChange()" data-min-length="0"
              data-items="100" ng-model-onblur data-placement="right" />
            <input type="text" style="margin-right: 2px;" id="{{ event.getId() }}" placeholder="形状的id或正则表达式"
              class="gf-form-input width-8" ng-model="event.data.pattern" ng-if="rule.data.eventProp === 'value'"
              bs-tooltip="'使用/my.*regex/语法或形状的完整id指定regex（请参见“检查”选项卡）'"
              bs-typeahead="editor.getCellNamesByValue" ng-blur="editor.onRulesChange()" data-min-length="0"
              data-items="100" ng-model-onblur data-placement="right" />
          </div>
        </td>
        <td>
          <select convert-to-number class="gf-form-input width-6" ng-model="event.data.eventOn"
            ng-change="editor.onRulesChange()">
            <option type="number" ng-value="-1">所有</option>
            <option type="number" ng-repeat="color in rule.data.colors" ng-value="$index">{{$index}}</option>
          </select>
        </td>
        <td>
          <select class="gf-form-input width-10" ng-model="event.data.style"
            ng-options="c.value as c.text for c in editor.EventType" ng-change="editor.onRulesChange()">
          </select>
        </td>
        <td>
          <div class="gf-form">
            <input type="text" style="margin-right: 2px;" placeholder="{{event.getPlaceHolder()}}"
              class="gf-form-input width-8" ng-model="event.data.value" bs-tooltip="'指定此操作的值'"
              bs-typeahead="editor.getEventValues" data-min-length="0" data-items="100"
              ng-focus="editor.onEventValue(event)" ng-blur="editor.onRulesChange()" data-min-length="0"
              data-items="100" ng-model-onblur data-placement="right" />
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <div class="gf-form">
            <label class="gf-form-label">
              <i class="fa fa-plus pointer" ng-click="rule.addEventMap('')" style="margin-right: 2px;"></i>
            </label>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>