<div class="section gf-form-group">
  <h5 class="section-heading">
    颜色/工具提示的映射
    <info-popover mode="right-normal">
      <span ng-bind-html="$GF.popover('选择要着色的对象', 'SHAPES','fc_subway_example')">
      </span>
    </info-popover>
  </h5>
  <div class="gf-form">
    <span class="gf-form-label width-11">根据
      <info-popover mode="right-normal">
        <span ng-bind-html="$GF.popover('选择字段\'谁\' ID (uniq)或标签中的数据类型', 'SHAPES')">
        </span>
      </info-popover>
    </span>
    <!-- ID INPUT -->
    <div class="gf-form-select-wrapper">
      <select class="gf-form-input width-10" ng-model="rule.data.shapeProp"
        ng-options="c.value as c.text for c in editor.propTypes" ng-change="editor.onRulesChange()"></select>
    </div>
  </div>
  <div class="gf-form">
    <!-- ID Regular expression -->
    <gf-form-switch class="gf-form" label="正则表达式" label-class="width-11" checked="rule.data.shapeRegEx"
      on-change="editor.onRulesChange()"
      tooltip="如果你在下面的“What”字段中不使用正则表达式，请禁用此选项以提高性能">
    </gf-form-switch>
  </div>
  <!-- Table -->
  <table>
    <!-- Header -->
    <thead>
      <tr>
        <th>
          <label class="gf-form-label width-7" style="margin-right: 2px;">按钮</label>
        </th>
        <th>
          <label class="gf-form-label width-8" style="margin-right: 2px;">谁
            <info-popover mode="right-normal">
              <span ng-bind-html="$GF.popover('输入形状Id或单击链接按钮', 'SHAPES')">
              </span>
            </info-popover>
          </label>
        </th>
        <th>
          <label class="gf-form-label width-8" style="margin-right: 2px;">何时
            <info-popover mode="right-normal">
              <span
                ng-bind-html="$GF.popover('选择条件对形状应用颜色和工具提示。', 'SHAPES')">
              </span>
            </info-popover>
        </th>
        <th>
          <label class="gf-form-label width-8" style="margin-right: 2px;">怎样
            <info-popover mode="right-normal">
              <span
                ng-bind-html="$GF.popover('填充为内容着色，描边为轮廓或箭头，文本为文本。', 'SHAPES', 'colormode_ani')">
              </span>
            </info-popover>
          </label>
        </th>
      </tr>
    </thead>
    <tbody ng-mouseleave="editor.unhighlightAllCells()">
      <tr ng-repeat="shape in rule.getShapeMaps()" ng-class="{'gf-form-disabled': shape.data.hidden}"
        ng-mouseleave="editor.unselectCell(rule.data.shapeProp,shape.data.pattern)"
        ng-mouseover="editor.selectCell(rule.data.shapeProp,shape.data.pattern)">
        <td>
          <div class="gf-form">
            <label class="gf-form-label" style="margin-right: 4px;">
              <i class="fa fa-w fa-remove pointer" bs-tooltip="'删除这个映射对象'"
                ng-click="editor.removeShapeMap(rule,$index);editor.onRulesChange()"></i>
            </label>
            <label class="gf-form-label" ng-if="!shape.isHidden()" style="margin-right: 4px;">
              <i class="fa fa-w fa-eye pointer" bs-tooltip="'在规则中隐藏选中的对象图'"
                ng-click="shape.hide();editor.onRulesChange()"></i>
            </label>
            <label class="gf-form-label" ng-if="shape.isHidden()" style="margin-right: 4px;">
              <i class="fa fa-w fa-eye-slash pointer" bs-tooltip="'在规则中显示所选对象的图形'"
                ng-click="shape.show();editor.onRulesChange()"></i>
            </label>
            <label class="gf-form-label" style="margin-right: 4px;" ng-hide="editor.flowchartHandler.isMapping(shape)">
              <i class="fa fa-link pointer" ng-click="editor.flowchartHandler.setMap(shape,rule.data.shapeProp)"
                bs-tooltip="'链接到对象图上'"></i>
            </label>
            <label class="gf-form-label" style="margin-right: 4px;color:orange"
              ng-show="editor.flowchartHandler.isMapping(shape)">
              <i class="fa fa-unlink pointer" bs-tooltip="'取消链接对象图形选择'"
                ng-click="editor.flowchartHandler.unsetMap()"></i>
            </label>
          </div>
        </td>
        <td>
          <div class="gf-form">
            <input type="text" style="margin-right: 2px;" id="{{ shape.getId() }}" placeholder="形状的id或正则表达式"
              class="gf-form-input width-8" ng-model="shape.data.pattern" ng-if="rule.data.shapeProp === 'id'"
              bs-tooltip="'使用/my指定正则表达式。*regex/语法或形状的完整id(参见检查选项卡)'"
              bs-typeahead="editor.getCellNamesById" ng-blur="editor.onRulesChange()" data-min-length="0"
              data-items="100" ng-model-onblur data-placement="right" />
            <input type="text" style="margin-right: 2px;" id="{{ shape.getId() }}" placeholder="形状的id或正则表达式"
              class="gf-form-input width-8" ng-model="shape.data.pattern" ng-if="rule.data.shapeProp === 'value'"
              bs-tooltip="'使用/my指定正则表达式。*regex/语法或形状的完整id(参见检查选项卡)'"
              bs-typeahead="editor.getCellNamesByValue" ng-blur="editor.onRulesChange()" data-min-length="0"
              data-items="100" ng-model-onblur data-placement="right" />
          </div>
        </td>
        <td>
          <select class="gf-form-input width-8" ng-model="shape.data.colorOn"
            ng-options="c.value as c.text for c in editor.colorOn" ng-change="editor.onRulesChange()"></select>
        </td>
        <td>
          <select class="gf-form-input width-8" ng-model="shape.data.style"
            ng-options="c.value as c.text for c in editor.style" ng-change="editor.onRulesChange()"></select>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <div class="gf-form">
            <label class="gf-form-label">
              <i class="fa fa-plus pointer" ng-click="rule.addShapeMap('')" style="margin-right: 2px;"></i>
            </label>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>