<div class="edit-tab-content">
  <div class="section gf-form-group" style="width:100%;">
    <h5 class="section-heading">
      流程图版
      <info-popover mode="right-normal"><span ng-bind-html="$GF.popover('定义你的流程图', 'README')"></span> </info-popover>
    </h5>
    <div class="gf-form">
      <span class="gf-form-label width-12">
        当前的流程图
        <info-popover mode="right-normal"
          ><span ng-bind-html="$GF.popover('Current flowchart', 'DEFINITION_XML#Type','DEFINITION_XML')"></span>
        </info-popover>
      </span>
      <div class="gf-form-select-wrapper width-12">
        <select class="gf-form-input" ng-model="editor.flowchartHandler.currentFlowchart" ng-options="f as f for f in editor.getNames()"></select>
      </div>
    </div>
  </div>
  <div class="editor-row" ng-repeat="flowchart in editor.getCurrentFlowchart()">
    <div class="editor-row">
      <!-- Definition -->
      <div class="section gf-form-group" style="width:100%;">
        <h5 class="section-heading">
          定义
          <info-popover mode="right-normal"><span ng-bind-html="$GF.popover('图的定义', 'DEFINITION_XML#Type')"></span></info-popover>
        </h5>
        <!-- Flowchart Definition -->
        <div class="gf-form">
          <gf-form-switch
            class="gf-form"
            label="下载源"
            label-class="width-12"
            checked="flowchart.data.download"
            on-change="editor.onSourceChange()"
          >
          </gf-form-switch>
        </div>
        <div class="gf-form" ng-if="!flowchart.data.download">
          <label class="gf-form-label width-12"
            >编辑器Url和主题
            <info-popover mode="right-normal"
              ><span ng-bind-html="$GF.popover('地址和编辑器的主题时，点击按钮编辑绘制', 'FLOWCHART#address')"></span>
            </info-popover>
          </label>
          <input type="text" class="gf-form-input width-30" ng-model="flowchart.data.editorUrl" placeholder="https://draw.io" />
          <div class="gf-form-select-wrapper width-8">
            <select class="gf-form-input" ng-model="flowchart.data.editorTheme" ng-options="c.value as c.text for c in editor.themes"></select>
          </div>
        </div>
        <div class="gf-form">
          <span class="gf-form-label width-12">
            源类型
            <info-popover mode="right-normal"
              ><span
                ng-bind-html="$GF.popover('mxgraph定义的来源(Xml定义，带有Xml结果的Url)', 'DEFINITION_XML#Type','DEFINITION_XML')"
              ></span>
            </info-popover>
          </span>
          <div class="gf-form-select-wrapper width-12">
            <select
              class="gf-form-input"
              ng-model="flowchart.data.type"
              ng-options="c.value as c.text for c in editor.sourceTypes"
              ng-change="editor.onSourceChange()"
            ></select>
          </div>
        </div>
        <!-- URL -->
        <div class="gf-form" ng-if="flowchart.data.download">
          <div class="gf-form">
            <span class="gf-form-label width-12">
              URL
              <info-popover mode="right-normal">
                该服务应该使用包含mxgraph语法的xml/纯响应进行响应
              </info-popover>
            </span>
            <input
              type="text"
              ng-model="flowchart.data.url"
              class="gf-form-input ng-pristine ng-untouched ng-valid ng-empty"
              style="width: 300px"
              ng-change="editor.checkUrl_onSourceChange(flowchart.data.url)"
              ng-model-onblur
            />
          </div>
        </div>
        <span style="color: brown;font-weight: bold;">{{editor.errorDownloadMsg}}</span>
        <!-- XML/CSV -->
        <div class="gf-form gf-form--v-stretch" ng-if="!flowchart.data.download">
          <span class="gf-form-label width-12">
            内容来源
            <info-popover mode="right-normal"
              ><span
                ng-bind-html="$GF.popover('mxgraph模型，绘制时编辑。io和选择额外的菜单>编辑图表', 'DEFINITION_XML#Type','DEFINITION_XML')"
              ></span>
            </info-popover>
          </span>
          <textarea
            name="options.source.xml.input"
            class="gf-form-input width:95% ng-pristine ng-valid ng-empty ng-touched"
            rows="10"
            placeholder="这个文本应该尊重xml/纯mxgraph语法"
            style="margin-top: 0px; margin-bottom: 0px; height: 145px; width: 95%;"
            ng-change="editor.checkSource_onSourceChange(flowchart.data.xml)"
            ng-model="flowchart.data.xml"
            ng-if="flowchart.data.type === 'xml'" 
            ng-model-onBlur
          >
          </textarea>
          <textarea
            name="options.source.csv.input"
            class="gf-form-input width:95% ng-pristine ng-valid ng-empty ng-touched"
            rows="10"
            placeholder="此文本应尊重csv绘制。io语法&#10;查看 https://drawio-app.com/import-from-csv-to-drawio 的更多信息"
            style="margin-top: 0px; margin-bottom: 0px; height: 145px; width: 95%;"
            ng-change="editor.checkSource_onSourceChange(flowchart.data.xml)"
            ng-model="flowchart.data.csv"
            ng-if="flowchart.data.type === 'csv'" 
            ng-model-onBlur
          >
          </textarea>
        </div>
        <span style="color: brown;font-weight: bold;">{{editor.errorSourceMsg}}</span>
        <!-- BUTTONS RULES -->
        <div class="gf-form-inline" ng-if=" flowchart.data.type == 'xml' && !flowchart.data.download ">
          <div class="gf-form" style="margin-right: 5px;">
            <button class="btn btn-secondary btn-small" ng-click="editor.edit($index)">
              <i class="fa fa-edit pointer"></i> 编辑绘图
              <info-popover mode="right-normal"
                ><span ng-bind-html="$GF.popover('在draw.io中打开图形', 'DEFINITION_XML#Buttons','EDIT_EXAMPLE')"></span>
              </info-popover>
            </button>
          </div>
          <div class="gf-form" style="margin-right: 5px;">
            <button class="btn btn-secondary btn-small" ng-click="flowchart.prettify()">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAxklEQVQokZWQMUpDURREzzw+kiKIlaWksnIPWttaCkFXkDWI63AFVtmApXswiFjY2IpIIOEdi7xC0PfBud29M3OZiUgXMgH21JpkTdiWEfIA3KhLYAmctf3I6Lm6cYcrm8vfD6oz5DrJC3AAVKAvAG6THAEX6n6SD4D8Ci3HwLQ5fhKef56HRjpRp0m+1LskK8JlpwxR5+q7+qTe11pnvSIGALUkOWzhFil57QUrAEne1AfgUT0day8iVkuSSTPYEtajgv/gG3TbgAtdLpuZAAAAAElFTkSuQmCC"
              />
              修饰
              <info-popover mode="right-normal"
                ><span ng-bind-html="$GF.popover('格式化XML代码以显示或修改', 'DEFINITION_XML#Buttons')"></span>
              </info-popover>
            </button>
          </div>
          <div class="gf-form" style="margin-right: 5px;">
            <button class="btn btn-secondary btn-small" ng-click="flowchart.minify()">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAzElEQVQokYWSvUoDYRREzywfS9jCInYWeTILSytRH0CwshUtbHwD38xCQSGIP/dYZINBN2Zu8RV3+Dgz3Ij8K2nAnPAI0O0wd8AhcIUcALRJX3mSZB94Bc7U+yQv4ycToxdV9aE+q7fqsN5NIqkkacAesATe1ru2EewUGEYzwPWY8XN86wdJO/VO/XKlS7Wvqr6q+k3cdeimPiVZAgMA4T3kD25DZsAxcKTeJJmP7WypWhfqg3qu9iNem2wPVxmqaqHOtpk2JztP45e+AdC7pvsVKoFjAAAAAElFTkSuQmCC"
              />
              压缩
            </button>
          </div>
          <div class="gf-form" style="margin-right: 5px;">
            <button class="btn btn-secondary btn-small" ng-click="flowchart.encode()">
              <i class="fas fa-compress-arrows-alt pointer"></i> 压缩/编码
              <info-popover mode="right-normal"
                ><span ng-bind-html="$GF.popover('Zip XML定义的大XML', 'DEFINITION_XML#Buttons')"></span>
              </info-popover>
            </button>
          </div>
          <div class="gf-form" style="margin-right: 5px;">
            <button class="btn btn-secondary btn-small" ng-click="flowchart.decode()">
              <i class="fas expand-arrows-alt pointer"></i> 提取/解码
              <info-popover mode="right-normal"
                ><span ng-bind-html="$GF.popover('在压缩时从内容中提取xml', 'DEFINITION_XML#Buttons')"></span>
              </info-popover>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Option Section -->
    <div class="editor-row">
      <h5 class="section-heading">高级</h5>
      <div class="section gf-form-group">
        <h5 class="section-heading">
          展示
          <info-popover mode="right-normal"
            ><span ng-bind-html="$GF.popover('更改显示图形选项', 'ADVANCED_XML#Buttons','ADVANCED_XML2')"></span>
          </info-popover>
        </h5>
        <gf-form-switch class="gf-form" label="比例" label-class="width-12" checked="flowchart.data.scale" on-change="editor.onOptionChange()">
        </gf-form-switch>
        <gf-form-switch class="gf-form" label="中心" label-class="width-12" checked="flowchart.data.center" on-change="editor.onOptionChange()">
        </gf-form-switch>
        <gf-form-switch class="gf-form" label="网格" label-class="width-12" checked="flowchart.data.grid" on-change="editor.onOptionChange()">
        </gf-form-switch>
        <div class="gf-form">
          <label class="gf-form-label width-12">背景颜色</label>
          <span>
            <spectrum-picker class="gf-form-input" ng-model="flowchart.data.bgColor" ng-change="editor.onOptionChange()"> </spectrum-picker>
          </span>
          <input type="text" class="gf-form-input width-8" ng-model="flowchart.data.bgColor" placeholder="#000000" />
        </div>
        <!--zoom-->
        <div class="gf-form" ng-if="!flowchart.data.scale">
          <span class="gf-form-label width-12">
            放大
            <info-popover mode="right-normal"
              ><span
                ng-bind-html="$GF.popover('缩放图形，如果未选中缩放。 如果 < 100% : 减少图, >100% 增加图', 'DEFINITION_XML#Buttons','ADVANCED_XML2')"
              ></span>
            </info-popover>
          </span>
          <input
            type="text"
            name="valueDisplayRegex"
            ng-model="flowchart.data.zoom"
            style="text-align: right"
            placeholder="100%"
            class="gf-form-input max-width-10"
            ng-blur="editor.onOptionChange()"
          />
        </div>
      </div>
      <div class="section gf-form-group">
        <h5 class="section-heading">
          其他选项
          <info-popover mode="right-normal"
            ><span ng-bind-html="$GF.popover('更改图形中的选项', 'ADVANCED_XML#Buttons','ADVANCED_XML2')"></span>
          </info-popover>
        </h5>
        <!-- Lock -->
        <gf-form-switch class="gf-form" label="锁" label-class="width-12" checked="flowchart.data.lock" on-change="editor.onOptionChange()">
        </gf-form-switch>
        <!-- Draw.io source -->
        <gf-form-switch
          class="gf-form"
          label="允许draw.io源"
          label-class="width-12"
          tooltip="允许从draw.io下载图像"
          checked="flowchart.data.allowDrawio"
          on-change="editor.onSourceChange()"
        >
        </gf-form-switch>
        <!-- Enable animation -->
        <gf-form-switch
          class="gf-form"
          label="启用动画"
          label-class="width-12"
          tooltip="在流程图中启用动画，如褪色颜色，禁用它，如果你使用“直接链接渲染图像”在共享面板选项，以获得最佳渲染或最佳性能"
          checked="flowchart.data.enableAnim"
          on-change="editor.onSourceChange()"
        >
        </gf-form-switch>
        <!-- Tooltip -->
        <gf-form-switch
          class="gf-form"
          label="工具提示"
          tooltip="启用工具提示"
          label-class="width-12"
          checked="flowchart.data.tooltip"
          on-change="editor.onOptionChange()"
        >
        </gf-form-switch>
      </div>
    </div>
  </div>
</div>
